{% load static %}
<!--===================
     footer area start 
    ===================-->
    <footer class="mt-30">
        <!-- Newslatter area start -->
        <div class="newsletter-group">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-12">
                        <div class="newsletter-inner d-flex align-items-center">
                            <i class="fa fa-envelope-open-o"></i>
                            <div class="newsletter-title">
                                <h1 class="sign-title"> برای خبرنامه ما ثبت نام کنید </h1>
                                <p> در مورد آخرین فروشگاه و پیشنهادات ویژه ما به روز رسانی ایمیل دریافت کنید. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="newsletter-box">
                            <form id="mc-form" class="mc-form">
                                <input type="email" id="mc-email" class="email-box" placeholder="ایمیل خود را وارد کنید" name="EMAIL">
                                <button id="mc-submit" class="newsletter-btn" type="submit"> عضویت </button>
                            </form>
                            <!-- mailchimp-alerts Start -->
                            <div class="mailchimp-alerts text-centre">
                                <div class="mailchimp-submitting"></div>
                                <!-- mailchimp-submitting end -->
                                <div class="mailchimp-success text-success"></div>
                                <!-- mailchimp-success end -->
                                <div class="mailchimp-error text-danger"></div>
                                <!-- mailchimp-error end -->
                            </div>
                            <!-- mailchimp-alerts end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Newslatter area End -->
        <!-- Footer Top Start -->
        <div class="footer-top mt-50 mb-40">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="footer-single-widget">
                            <div class="footer-logo mb-40">
                                <a href="index.html"><img src="{% static 'images/logo/pos-circle-logo.jpg' %}" alt=""></a>
                            </div>
                            <div class="widget-body">
                                <p> وضوح همچنین یک فرایند پویا است که منجر به تغییر در استفاده از خوانندگان می شود. جالب است بدانید که چگونه نامه گوتیک ، که ما اکنون فکر می کنیم چندان روشن نیست. </p>
                                <div class="widget-address mt-30 mb-20">
                                    <p><strong>آدرس: </strong>ایران - اصفهان - خرداد شمالی</p>
                                    <p><strong>شماره تماس:</strong>9121230000</p>
                                    <p><strong>آدرس ایمیل: </strong>info@gmail.com</p>
                                </div>
                            </div>
                            <div class="footer_social">
                                <ul class="d-flex">
                                    <li><a class="facebook" href="#"><i class="zmdi zmdi-facebook"></i></a></li>
                                    <li><a class="twitter" href="#"><i class="zmdi zmdi-twitter"></i></a></li>
                                    <li><a class="youtube" href="#"><i class="zmdi zmdi-youtube"></i></a></li>
                                    <li><a class="google" href="#"><i class="zmdi zmdi-google-plus"></i></a></li>
                                    <li><a class="linkedin" href="#"><i class="zmdi zmdi-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-6">
                                <div class="widgets_container">
                                    <h6>اطلاعات</h6>
                                    <div class="footer_menu">
                                        <ul>
                                            <li><a href="about.html">درباره ما</a></li>
                                            <li><a href="contact.html"> ارتباط با ما</a></li>
                                            <li><a href="#">حریم خصوصی</a></li>
                                            <li><a href="#">قوانین و شرایط</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-6">
                                <div class="widgets_container">
                                    <h6>حساب من</h6>
                                    <div class="footer_menu">
                                        <ul>
                                            <li><a href="#">حساب من</a></li>
                                            <li><a href="#">تاریخچه سفارش</a></li>
                                            <li><a href="#"> لیست مورد علاقه</a></li>
                                            <li><a href="#">خبرنامه</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-6">
                                <div class="widgets_container">
                                    <h6>دسترسی سریع</h6>
                                    <div class="footer_menu">
                                        <ul>
                                            <li><a href="#">دسکتاپ</a></li>
                                            <li><a href="#">لپ تاپ و رومیزی</a></li>
                                            <li><a href="#">اجزاء </a></li>
                                            <li><a href="#">قوانین و شرایط</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-6">
                                <div class="widgets_container">
                                    <h6> خدمات به مشتریان </h6>
                                    <div class="footer_menu">
                                        <ul>
                                            <li><a href="#"> نقشه سایت </a></li>
                                            <li><a href="#">حساب من</a></li>
                                            <li><a href="#">ارتباط با ما</a></li>
                                            <li><a href="#"> اطلاعات تحویل </a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="widget-box mt-30">
                                    <div class="widget-single-box">
                                        <p><strong>آدرس: </strong></p>
                                        <ul>
                                            <li><a href="#"> سفارش</a></li>
                                            <li><a href="#"> هوش مصنوعی</a></li>
                                            <li><a href="#"> بازاریابی</a></li>
                                            <li><a href="#"> سورس کد</a></li>
                                            <li><a href="#"> گجت</a></li>
                                            <li><a href="#"> لوازم جانبی</a></li>
                                        </ul>
                                    </div>
                                    <div class="widget-single-box">
                                        <p><strong> هدفون: </strong></p>
                                        <ul>
                                            <li><a href="#"> سیمی </a></li>
                                            <li><a href="#"> هدفون شیائومی</a></li>
                                            <li><a href="#"> هدفون نوکیا</a></li>
                                            <li><a href="#"> بی سیم</a></li>
                                            <li><a href="#"> هدست</a></li>
                                            <li><a href="#"> تلویزیون</a></li>
                                        </ul>
                                    </div>
                                    <div class="widget-single-box">
                                        <p><strong> کامپیوتر: </strong></p>
                                        <ul>
                                            <li><a href="#"> مینی کامپیوتر </a></li>
                                            <li><a href="#"> ابر کامپیوتر </a></li>
                                            <li><a href="#"> کامپیوتر رومیزی </a></li>
                                            <li><a href="#"> لپ تاپ</a></li>
                                            <li><a href="#"> تبلت LG</a></li>
                                            <li><a href="#"> گوشی LG</a></li>
                                        </ul>
                                    </div>
                                    <div class="widget-single-box">
                                        <p><strong> دوربین: </strong></p>
                                        <ul>
                                            <li><a href="#"> دوربین لنز </a></li>
                                            <li><a href="#"> دوربین فیگما</a></li>
                                            <li><a href="#"> دوربین باکس</a></li>
                                            <li><a href="#"> دوربین کوچک</a></li>
                                            <li><a href="#"> دوربین کوچک</a></li>
                                            <li><a href="#"> اسکرین شات</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Top End -->
        <!-- Footer Bottom Start -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5 col-md-12 col-12">
                        <div class="footer-bottom-content">
                            <div class="footer-copyright">
                                <p>© 1400 <strong></strong> ترجمه و راست چین شده <i class="fa fa-heart text-danger"></i> توسط
                                    <a href="https://www.rtl-theme.com/author/webdesignrtl/"> <strong>وب دیزاین</strong></a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-12 col-12">
                        <div class="payment">
                            <a href="#">
                                <img src="{% static 'images/payment/footerend.png' %}" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Bottom End -->
    </footer>
    <!--===================
     footer area end 
    ===================-->

    <!-- Scroll To Top Start -->
    <a class="scroll-to-top" href="#"><i class="fa fa-angle-up"></i></a>
    <!-- Scroll To Top End -->

