{% load static %}
{% load thumbnail %}
<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock title %}</title>
  {% include "adminlte/headerrefrence.html" %}
</head>

<body class="hold-transition skin-blue sidebar-mini">
  <!-- wraperr start  -->
  <div class="wrapper">

    <header class="main-header">
      <!-- Logo -->
      <a href="/adminlte" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini">پنل</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>کنترل پنل مدیریت</b></span>
      </a>
      <!-- Header Navbar: style can be found in header.less -->
      <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
          <span class="sr-only">Toggle navigation</span>
        </a>

        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
            <!-- Messages: style can be found in dropdown.less-->
            <li>
              <a href="/"><i class="fa fa-eye"></i></a>
            </li>
            <li class="dropdown messages-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-envelope-o"></i>
                <span class="label label-success">4</span>
              </a>
              <ul class="dropdown-menu">
                <li class="header">۴ پیام خوانده نشده</li>
                <li>
                  <!-- inner menu: contains the actual data -->
                  <ul class="menu">
                    <li>
                      <!-- start message -->
                      <a href="#">
                        <div class="pull-right">
                          <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                        </div>
                        <h4>
                          علیرضا
                          <small><i class="fa fa-clock-o"></i> ۵ دقیقه پیش</small>
                        </h4>
                        <p>متن پیام</p>
                      </a>
                    </li>
                    <!-- end message -->
                    <li>
                      <a href="#">
                        <div class="pull-right">
                          <img src="dist/img/user3-128x128.jpg" class="img-circle" alt="User Image">
                        </div>
                        <h4>
                          نگین
                          <small><i class="fa fa-clock-o"></i> ۲ ساعت پیش</small>
                        </h4>
                        <p>متن پیام</p>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <div class="pull-right">
                          <img src="dist/img/user4-128x128.jpg" class="img-circle" alt="User Image">
                        </div>
                        <h4>
                          نسترن
                          <small><i class="fa fa-clock-o"></i> امروز</small>
                        </h4>
                        <p>متن پیام</p>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <div class="pull-right">
                          <img src="dist/img/user3-128x128.jpg" class="img-circle" alt="User Image">
                        </div>
                        <h4>
                          نگین
                          <small><i class="fa fa-clock-o"></i> دیروز</small>
                        </h4>
                        <p>متن پیام</p>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <div class="pull-right">
                          <img src="dist/img/user4-128x128.jpg" class="img-circle" alt="User Image">
                        </div>
                        <h4>
                          نسترن
                          <small><i class="fa fa-clock-o"></i> ۲ روز پیش</small>
                        </h4>
                        <p>متن پیام</p>
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="footer"><a href="#">نمایش تمام پیام ها</a></li>
              </ul>
            </li>
            <!-- Notifications: style can be found in dropdown.less -->
            <li class="dropdown notifications-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-bell-o"></i>
                <span class="label label-warning">۱۰</span>
              </a>
              <ul class="dropdown-menu">
                <li class="header">۱۰ اعلان جدید</li>
                <li>
                  <!-- inner menu: contains the actual data -->
                  <ul class="menu">
                    <li>
                      <a href="#">
                        <i class="fa fa-users text-aqua"></i> ۵ کاربر جدید ثبت نام کردند
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-warning text-yellow"></i> اخطار دقت کنید
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-users text-red"></i> ۴ کاربر جدید ثبت نام کردند
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-shopping-cart text-green"></i> ۲۵ سفارش جدید
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-user text-red"></i> نام کاربریتان را تغییر دادید
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="footer"><a href="#">نمایش همه</a></li>
              </ul>
            </li>
            <!-- Tasks: style can be found in dropdown.less -->
            <li class="dropdown tasks-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-flag-o"></i>
                <span class="label label-danger">۹</span>
              </a>
              <ul class="dropdown-menu">
                <li class="header">۹ کار برای انجام دارید</li>
                <li>
                  <!-- inner menu: contains the actual data -->
                  <ul class="menu">
                    <li>
                      <!-- Task item -->
                      <a href="#">
                        <h3>
                          ساخت دکمه
                          <small class="pull-left">20%</small>
                        </h3>
                        <div class="progress xs">
                          <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar"
                            aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                            <span class="sr-only">20% تکمیل شده</span>
                          </div>
                        </div>
                      </a>
                    </li>
                    <!-- end task item -->
                    <li>
                      <!-- Task item -->
                      <a href="#">
                        <h3>
                          ساخت قالب جدید
                          <small class="pull-left">40%</small>
                        </h3>
                        <div class="progress xs">
                          <div class="progress-bar progress-bar-green" style="width: 40%" role="progressbar"
                            aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                            <span class="sr-only">40% تکمیل شده</span>
                          </div>
                        </div>
                      </a>
                    </li>
                    <!-- end task item -->
                    <li>
                      <!-- Task item -->
                      <a href="#">
                        <h3>
                          تبلیغات
                          <small class="pull-left">60%</small>
                        </h3>
                        <div class="progress xs">
                          <div class="progress-bar progress-bar-red" style="width: 60%" role="progressbar"
                            aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                            <span class="sr-only">60% تکمیل شده</span>
                          </div>
                        </div>
                      </a>
                    </li>
                    <!-- end task item -->
                    <li>
                      <!-- Task item -->
                      <a href="#">
                        <h3>
                          ساخت صفحه فرود
                          <small class="pull-left">80%</small>
                        </h3>
                        <div class="progress xs">
                          <div class="progress-bar progress-bar-yellow" style="width: 80%" role="progressbar"
                            aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                            <span class="sr-only">80% تکمیل شده</span>
                          </div>
                        </div>
                      </a>
                    </li>
                    <!-- end task item -->
                  </ul>
                </li>
                <li class="footer">
                  <a href="#">نمایش همه</a>
                </li>
              </ul>
            </li>
            <!-- User Account: style can be found in dropdown.less -->
            <li class="dropdown user user-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                {% if image is None %}
                <img src="{% static 'adminlte/dist/img/user2-160x160.jpg' %}" class="user-image" alt="User Image">
                {% else %}
                <img src="{{image.image.url}}" class="user-image" alt="User Image">

                {% endif %}
                <span class="hidden-xs">{{request.user.get_full_name}}</span>
              </a>
              <ul class="dropdown-menu">
                <!-- User image -->
                <li class="user-header">
                  {% if image is None %}
                  <img src="{{image.image.url}}" class="user-image" alt="User Image">
                  {% else %}
                  <img src="{% static 'adminlte/dist/img/user2-160x160.jpg' %}" class="user-image" alt="User Image">

                  {% endif %}

                  <p>
                    {{request.user.get_full_name}}
                    <small>مدیریت کل سایت</small>
                  </p>
                </li>
                <!-- Menu Body -->
                <li class="user-body">
                  <div class="row">
                    <div class="col-xs-4 text-center">
                      <a href="#">صفحه من</a>
                    </div>
                    <div class="col-xs-4 text-center">
                      <a href="#">فروش</a>
                    </div>
                    <div class="col-xs-4 text-center">
                      <a href="#">دوستان</a>
                    </div>
                  </div>
                  <!-- /.row -->
                </li>
                <!-- Menu Footer-->
                <li class="user-footer">
                  <div class="pull-right">
                    <a href="#" class="btn btn-default btn-flat">پروفایل</a>
                  </div>
                  <div class="pull-left">
                    <a href="/logout" class="btn btn-default btn-flat">خروج</a>
                  </div>
                </li>
              </ul>
            </li>
            <!-- Control Sidebar Toggle Button -->
            <li>
              <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
            </li>

          </ul>
        </div>
      </nav>
    </header>

   
    <aside class="main-sidebar">
      <!-- sidebar: style can be found in sidebar.less -->
      <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
          <div class="pull-right image">
            {% if image is None %}
            <img src="{% static 'adminlte/dist/img/user2-160x160.jpg' %}" class="img-circle" alt="User Image">
            {% else %}
            {% thumbnail image.image "160x160" crop="center" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="img-circle" alt="User Image">
            {% endthumbnail %}

            {% endif %}

          </div>
          <div class="pull-right info">
            <p>{{request.user.get_full_name}}</p>
            <a href="#"><i class="fa fa-circle text-success"></i> آنلاین</a>
          </div>
        </div>
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
          <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="جستجو">
            <span class="input-group-btn">
              <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
              </button>
            </span>
          </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
          <li class="header">منو</li>
          <li class="active">
            <a href="/adminlte">
              <i class="fa fa-dashboard"></i>
              <span> داشبرد </span>

            </a>
          </li>
          <li class="treeview ">
            <a href="#">
              <i class="fa fa-laptop"></i>
              <span>محصولات</span>
              <span class="pull-left-container">
                <i class="fa fa-angle-right pull-left"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li><a href="/adminlte/product"><i class="fa fa-circle-o"></i>محصول</a></li>
              <li><a href="/adminlte/product/gallery"><i class="fa fa-circle-o"></i>گالری محصولات </a></li>
            </ul>
          </li>
          <li class="treeview">
            <a href="#">
              <i class="fa fa-cart-plus"></i>
              <span>سفارش ها</span>
              <span class="pull-left-container">
                <i class="fa fa-angle-right pull-left"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li><a href="/adminlte/order"><i class="fa fa-circle-o"></i> سفارش ها </a></li>
              <li><a href="pages/layout/boxed.html"><i class="fa fa-circle-o"></i> جزئیات سفارش ها </a></li>
              <li><a href="pages/layout/boxed.html"><i class="fa fa-circle-o"></i> کدتخفیف </a></li>
            </ul>
          </li>
          <li class="treeview">
            <a href="#">
              <i class="fa fa-users"></i>
              <span>کاربرها</span>
              <span class="pull-left-container">
                <i class="fa fa-angle-right pull-left"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li><a href="/adminlte/order"><i class="fa fa-circle-o"></i>کاربرها</a></li>
              <li><a href="pages/layout/boxed.html"><i class="fa fa-circle-o"></i>گروها ها</a></li>
            </ul>
          </li>
          <li>
            <a href="/adminlte/category">
              <i class="fa fa-book"></i>
              <span>دسته بندی</span>

            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-sliders"></i>
              <span>اسلایدر</span>

            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-commenting"></i>
              <span>نظرات</span>

            </a>
          </li>
          <li>
            <a href="/logout">
              <i class="fa  fa-sign-out"></i>
              <span>خروج</span>

            </a>
          </li>
          
          {% comment %} <li class="treeview">
            <a href="#">
              <i class="fa fa-files-o"></i>
              <span>لایه های صفحه</span>
              <span class="pull-left-container">
                <span class="label label-primary pull-left">4</span>
              </span>
            </a>
            <ul class="treeview-menu">
              <li><a href="pages/layout/top-nav.html"><i class="fa fa-circle-o"></i> نوار بالا</a></li>
              <li><a href="pages/layout/boxed.html"><i class="fa fa-circle-o"></i> باکس ها</a></li>
              <li><a href="pages/layout/fixed.html"><i class="fa fa-circle-o"></i> فیکس شده</a></li>
              <li><a href="pages/layout/collapsed-sidebar.html"><i class="fa fa-circle-o"></i> سایدبار</a></li>
            </ul>
          </li>
          <li>
            <a href="pages/widgets.html">
              <i class="fa fa-th"></i> <span>ویجت ها</span>
              <span class="pull-left-container">
                <small class="label pull-left bg-green">جدید</small>
              </span>
            </a>
          </li>
          <li class="treeview">
            <a href="#">
              <i class="fa fa-pie-chart"></i>
              <span>نمودارها</span>
              <span class="pull-left-container">
                <i class="fa fa-angle-right pull-left"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li><a href="pages/charts/chartjs.html"><i class="fa fa-circle-o"></i>نمودار ChartJS</a></li>
              <li><a href="pages/charts/morris.html"><i class="fa fa-circle-o"></i>نمودار Morris</a></li>
              <li><a href="pages/charts/flot.html"><i class="fa fa-circle-o"></i>نمودار Flot</a></li>
              <li><a href="pages/charts/inline.html"><i class="fa fa-circle-o"></i>نمودار Inline charts</a></li>
            </ul>
          </li>
          <li class="treeview">
            <a href="#">
              <i class="fa fa-laptop"></i>
              <span>اشیای گرافیکی</span>
              <span class="pull-left-container">
                <i class="fa fa-angle-right pull-left"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li><a href="pages/UI/general.html"><i class="fa fa-circle-o"></i> عمومی</a></li>
              <li><a href="pages/UI/icons.html"><i class="fa fa-circle-o"></i> آیکون</a></li>
              <li><a href="pages/UI/buttons.html"><i class="fa fa-circle-o"></i> دکمه</a></li>
              <li><a href="pages/UI/sliders.html"><i class="fa fa-circle-o"></i> اسلایدر</a></li>
              <li><a href="pages/UI/timeline.html"><i class="fa fa-circle-o"></i> تایم لاین</a></li>
              <li><a href="pages/UI/modals.html"><i class="fa fa-circle-o"></i> مدال</a></li>
            </ul>
          </li>
          <li class="treeview">
            <a href="#">
              <i class="fa fa-edit"></i> <span>فرم ها</span>
              <span class="pull-left-container">
                <i class="fa fa-angle-right pull-left"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li><a href="pages/forms/general.html"><i class="fa fa-circle-o"></i> اجزای عمومی</a></li>
              <li><a href="pages/forms/advanced.html"><i class="fa fa-circle-o"></i> پیشرفته</a></li>
              <li><a href="pages/forms/editors.html"><i class="fa fa-circle-o"></i> ویرایشگر</a></li>
            </ul>
          </li>
          <li class="treeview">
            <a href="#">
              <i class="fa fa-table"></i> <span>جداول</span>
              <span class="pull-left-container">
                <i class="fa fa-angle-right pull-left"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li><a href="pages/tables/simple.html"><i class="fa fa-circle-o"></i> جدول ساده</a></li>
              <li><a href="pages/tables/data.html"><i class="fa fa-circle-o"></i> جدول داده</a></li>
            </ul>
          </li>
          <li>
            <a href="pages/calendar.html">
              <i class="fa fa-calendar"></i> <span>تقویم</span>
              <span class="pull-left-container">
                <small class="label pull-left bg-red">۳</small>
                <small class="label pull-left bg-blue">۱۷</small>
              </span>
            </a>
          </li>
          <li>
            <a href="pages/mailbox/mailbox.html">
              <i class="fa fa-envelope"></i> <span>ایمیل ها</span>
              <span class="pull-left-container">
                <small class="label pull-left bg-yellow">۱۲</small>
                <small class="label pull-left bg-green">۱۶</small>
                <small class="label pull-left bg-red">۵</small>
              </span>
            </a>
          </li>
          <li class="treeview">
            <a href="#">
              <i class="fa fa-folder"></i> <span>مثال ها</span>
              <span class="pull-left-container">
                <i class="fa fa-angle-right pull-left"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li><a href="pages/examples/invoice.html"><i class="fa fa-circle-o"></i> سفارش</a></li>
              <li><a href="pages/examples/profile.html"><i class="fa fa-circle-o"></i> پروفایل</a></li>
              <li><a href="pages/examples/login.html"><i class="fa fa-circle-o"></i> صفحه ورود</a></li>
              <li><a href="pages/examples/register.html"><i class="fa fa-circle-o"></i> ثبت نام</a></li>
              <li><a href="pages/examples/lockscreen.html"><i class="fa fa-circle-o"></i> قفل صفحه</a></li>
              <li><a href="pages/examples/404.html"><i class="fa fa-circle-o"></i> ارور ۴۰۴</a></li>
              <li><a href="pages/examples/500.html"><i class="fa fa-circle-o"></i> ارور ۵۰۰</a></li>
              <li><a href="pages/examples/blank.html"><i class="fa fa-circle-o"></i> صفحه خالی</a></li>
              <li><a href="pages/examples/pace.html"><i class="fa fa-circle-o"></i> صفحه سریع</a></li>
            </ul>
          </li>
          <li class="treeview">
            <a href="#">
              <i class="fa fa-share"></i> <span>چندسطحی</span>
              <span class="pull-left-container">
                <i class="fa fa-angle-right pull-left"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li><a href="#"><i class="fa fa-circle-o"></i> سطح اول</a></li>
              <li class="treeview">
                <a href="#"><i class="fa fa-circle-o"></i> سطح اول
                  <span class="pull-left-container">
                    <i class="fa fa-angle-right pull-left"></i>
                  </span>
                </a>
                <ul class="treeview-menu">
                  <li><a href="#"><i class="fa fa-circle-o"></i> سطح دوم</a></li>
                  <li class="treeview">
                    <a href="#"><i class="fa fa-circle-o"></i> سطح دوم
                      <span class="pull-left-container">
                        <i class="fa fa-angle-right pull-left"></i>
                      </span>
                    </a>
                    <ul class="treeview-menu">
                      <li><a href="#"><i class="fa fa-circle-o"></i> سطح سوم</a></li>
                      <li><a href="#"><i class="fa fa-circle-o"></i> سطح سوم</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li><a href="#"><i class="fa fa-circle-o"></i> سطح اول</a></li>
            </ul>
          </li>
          <li><a href="https://adminlte.io/docs"><i class="fa fa-book"></i> <span>مستندات</span></a></li>
          <li class="header">برچسب ها</li>
          <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>مهم</span></a></li>
          <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>هشدار</span></a></li>
          <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>اطلاعات</span></a></li> {% endcomment %}
        </ul>
      </section>
      <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      {% block content %}

      {% endblock content %}
    </div>

    <!-- /.content-wrapper -->


    <footer class="main-footer text-left">
      <strong>Copyleft &copy; 2022-2023 <a href="https://adminlte.io">narange Studio</a> </strong>
    </footer>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Create the tabs -->
      <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
        <li class="active"><a href="#control-sidebar-theme-demo-options-tab" data-toggle="tab"><i
              class="fa fa-wrench"></i></a></li>
        <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
        <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <!-- Home tab content -->
        <div class="tab-pane" id="control-sidebar-home-tab">
          <h3 class="control-sidebar-heading">فعالیت ها</h3>
          <ul class="control-sidebar-menu">
            <li>
              <a href="javascript:void(0)">
                <i class="menu-icon fa fa-birthday-cake bg-red"></i>

                <div class="menu-info">
                  <h4 class="control-sidebar-subheading">تولد غلوم</h4>

                  <p>۲۴ مرداد</p>
                </div>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                <i class="menu-icon fa fa-user bg-yellow"></i>

                <div class="menu-info">
                  <h4 class="control-sidebar-subheading">آپدیت پروفایل سجاد</h4>

                  <p>تلفن جدید (800)555-1234</p>
                </div>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>

                <div class="menu-info">
                  <h4 class="control-sidebar-subheading">نورا به خبرنامه پیوست</h4>

                  <p>nora@example.com</p>
                </div>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                <i class="menu-icon fa fa-file-code-o bg-green"></i>

                <div class="menu-info">
                  <h4 class="control-sidebar-subheading">کرون جابز اجرا شد</h4>

                  <p>۵ ثانیه پیش</p>
                </div>
              </a>
            </li>
          </ul>
          <!-- /.control-sidebar-menu -->

          <h3 class="control-sidebar-heading">پیشرفت کارها</h3>
          <ul class="control-sidebar-menu">
            <li>
              <a href="javascript:void(0)">
                <h4 class="control-sidebar-subheading">
                  ساخت پوستر های تبلیغاتی
                  <span class="label label-danger pull-left">70%</span>
                </h4>

                <div class="progress progress-xxs">
                  <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                </div>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                <h4 class="control-sidebar-subheading">
                  آپدیت رزومه
                  <span class="label label-success pull-left">95%</span>
                </h4>

                <div class="progress progress-xxs">
                  <div class="progress-bar progress-bar-success" style="width: 95%"></div>
                </div>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                <h4 class="control-sidebar-subheading">
                  آپدیت لاراول
                  <span class="label label-warning pull-left">50%</span>
                </h4>

                <div class="progress progress-xxs">
                  <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
                </div>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                <h4 class="control-sidebar-subheading">
                  بخش پشتیبانی سایت
                  <span class="label label-primary pull-left">68%</span>
                </h4>

                <div class="progress progress-xxs">
                  <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
                </div>
              </a>
            </li>
          </ul>
          <!-- /.control-sidebar-menu -->

        </div>
        <div id="control-sidebar-theme-demo-options-tab" class="tab-pane active">
          <div>
            <h4 class="control-sidebar-heading">تنظیمات قالب</h4>
            <div class="form-group"><label class="control-sidebar-subheading"><input type="checkbox" data-layout="fixed"
                  class="pull-right"> قالب فیکس</label>
              <p>فیکس شدن قالب. نمیتوانید قالب فیکس و باکس را همزمان انتخاب کنید</p>
            </div>
            <div class="form-group"><label class="control-sidebar-subheading"><input type="checkbox"
                  data-layout="layout-boxed" class="pull-right"> قالب باکس</label>
              <p>فعال کردن قالب باکسی</p>
            </div>
            <div class="form-group"><label class="control-sidebar-subheading"><input type="checkbox"
                  data-layout="sidebar-collapse" class="pull-right"> سایدبار</label>
              <p>باز و بسته کردن سایدبار</p>
            </div>
            <div class="form-group"><label class="control-sidebar-subheading"><input type="checkbox"
                  data-enable="expandOnHover" class="pull-right"> باز شدن سایدبار با هاور</label>
              <p>ماوس را روی سایدبار ببرید باز می شود</p>
            </div>
            <div class="form-group"><label class="control-sidebar-subheading"><input type="checkbox"
                  data-controlsidebar="control-sidebar-open" class="pull-right"> سایدبار چپ</label>
              <p>باز و بسته کردن سایدبار چپ</p>
            </div>
            <div class="form-group"><label class="control-sidebar-subheading"><input type="checkbox"
                  data-sidebarskin="toggle" class="pull-right"> قالب سایدبار چپ</label>
              <p>تغییر قالب سایدبار چپ بین روشن و تاریک</p>
            </div>
            <h4 class="control-sidebar-heading">قالب ها</h4>
            <ul class="list-unstyled clearfix">
              <li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0)" data-skin="skin-blue"
                  style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
                  <div><span
                      style="display:block; width: 20%; float: left; height: 7px; background: #367fa9"></span><span
                      class="bg-light-blue" style="display:block; width: 80%; float: left; height: 7px;"></span></div>
                  <div><span
                      style="display:block; width: 20%; float: left; height: 20px; background: #222d32"></span><span
                      style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span></div>
                </a>
                <p class="text-center no-margin">آبی</p>
              </li>
              <li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0)"
                  data-skin="skin-black" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)"
                  class="clearfix full-opacity-hover">
                  <div style="box-shadow: 0 0 2px rgba(0,0,0,0.1)" class="clearfix"><span
                      style="display:block; width: 20%; float: left; height: 7px; background: #fefefe"></span><span
                      style="display:block; width: 80%; float: left; height: 7px; background: #fefefe"></span></div>
                  <div><span style="display:block; width: 20%; float: left; height: 20px; background: #222"></span><span
                      style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span></div>
                </a>
                <p class="text-center no-margin">مشکی</p>
              </li>
              <li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0)"
                  data-skin="skin-purple" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)"
                  class="clearfix full-opacity-hover">
                  <div><span style="display:block; width: 20%; float: left; height: 7px;"
                      class="bg-purple-active"></span><span class="bg-purple"
                      style="display:block; width: 80%; float: left; height: 7px;"></span></div>
                  <div><span
                      style="display:block; width: 20%; float: left; height: 20px; background: #222d32"></span><span
                      style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span></div>
                </a>
                <p class="text-center no-margin">بنفش</p>
              </li>
              <li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0)"
                  data-skin="skin-green" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)"
                  class="clearfix full-opacity-hover">
                  <div><span style="display:block; width: 20%; float: left; height: 7px;"
                      class="bg-green-active"></span><span class="bg-green"
                      style="display:block; width: 80%; float: left; height: 7px;"></span></div>
                  <div><span
                      style="display:block; width: 20%; float: left; height: 20px; background: #222d32"></span><span
                      style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span></div>
                </a>
                <p class="text-center no-margin">سبز</p>
              </li>
              <li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0)" data-skin="skin-red"
                  style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
                  <div><span style="display:block; width: 20%; float: left; height: 7px;"
                      class="bg-red-active"></span><span class="bg-red"
                      style="display:block; width: 80%; float: left; height: 7px;"></span></div>
                  <div><span
                      style="display:block; width: 20%; float: left; height: 20px; background: #222d32"></span><span
                      style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span></div>
                </a>
                <p class="text-center no-margin">قرمز</p>
              </li>
              <li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0)"
                  data-skin="skin-yellow" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)"
                  class="clearfix full-opacity-hover">
                  <div><span style="display:block; width: 20%; float: left; height: 7px;"
                      class="bg-yellow-active"></span><span class="bg-yellow"
                      style="display:block; width: 80%; float: left; height: 7px;"></span></div>
                  <div><span
                      style="display:block; width: 20%; float: left; height: 20px; background: #222d32"></span><span
                      style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span></div>
                </a>
                <p class="text-center no-margin">زرد</p>
              </li>
              <li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0)"
                  data-skin="skin-blue-light" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)"
                  class="clearfix full-opacity-hover">
                  <div><span
                      style="display:block; width: 20%; float: left; height: 7px; background: #367fa9"></span><span
                      class="bg-light-blue" style="display:block; width: 80%; float: left; height: 7px;"></span></div>
                  <div><span
                      style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc"></span><span
                      style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span></div>
                </a>
                <p class="text-center no-margin" style="font-size: 12px">آبی روشن</p>
              </li>
              <li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0)"
                  data-skin="skin-black-light" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)"
                  class="clearfix full-opacity-hover">
                  <div style="box-shadow: 0 0 2px rgba(0,0,0,0.1)" class="clearfix"><span
                      style="display:block; width: 20%; float: left; height: 7px; background: #fefefe"></span><span
                      style="display:block; width: 80%; float: left; height: 7px; background: #fefefe"></span></div>
                  <div><span
                      style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc"></span><span
                      style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span></div>
                </a>
                <p class="text-center no-margin" style="font-size: 12px">مشکی روشن</p>
              </li>
              <li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0)"
                  data-skin="skin-purple-light" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)"
                  class="clearfix full-opacity-hover">
                  <div><span style="display:block; width: 20%; float: left; height: 7px;"
                      class="bg-purple-active"></span><span class="bg-purple"
                      style="display:block; width: 80%; float: left; height: 7px;"></span></div>
                  <div><span
                      style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc"></span><span
                      style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span></div>
                </a>
                <p class="text-center no-margin" style="font-size: 12px">بنفش روشن</p>
              </li>
              <li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0)"
                  data-skin="skin-green-light" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)"
                  class="clearfix full-opacity-hover">
                  <div><span style="display:block; width: 20%; float: left; height: 7px;"
                      class="bg-green-active"></span><span class="bg-green"
                      style="display:block; width: 80%; float: left; height: 7px;"></span></div>
                  <div><span
                      style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc"></span><span
                      style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span></div>
                </a>
                <p class="text-center no-margin" style="font-size: 12px">سبز روشن</p>
              </li>
              <li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0)"
                  data-skin="skin-red-light" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)"
                  class="clearfix full-opacity-hover">
                  <div><span style="display:block; width: 20%; float: left; height: 7px;"
                      class="bg-red-active"></span><span class="bg-red"
                      style="display:block; width: 80%; float: left; height: 7px;"></span></div>
                  <div><span
                      style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc"></span><span
                      style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span></div>
                </a>
                <p class="text-center no-margin" style="font-size: 12px">قرمز روشن</p>
              </li>
              <li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0)"
                  data-skin="skin-yellow-light" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)"
                  class="clearfix full-opacity-hover">
                  <div><span style="display:block; width: 20%; float: left; height: 7px;"
                      class="bg-yellow-active"></span><span class="bg-yellow"
                      style="display:block; width: 80%; float: left; height: 7px;"></span></div>
                  <div><span
                      style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc"></span><span
                      style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span></div>
                </a>
                <p class="text-center no-margin" style="font-size: 12px">زرد روشن</p>
              </li>
            </ul>
          </div>
        </div>
        <!-- /.tab-pane -->
        <!-- Stats tab content -->
        <div class="tab-pane" id="control-sidebar-stats-tab">وضعیت</div>
        <!-- /.tab-pane -->
        <!-- Settings tab content -->
        <div class="tab-pane" id="control-sidebar-settings-tab">
          <form method="post">
            <h3 class="control-sidebar-heading">تنظیمات عمومی</h3>

            <div class="form-group">
              <label class="control-sidebar-subheading">
                گزارش کنترلر پنل
                <input type="checkbox" class="pull-left" checked="">
              </label>

              <p>
                ثبت تمامی فعالیت های مدیران
              </p>
            </div>
            <!-- /.form-group -->

            <div class="form-group">
              <label class="control-sidebar-subheading">
                ایمیل مارکتینگ
                <input type="checkbox" class="pull-left" checked="">
              </label>

              <p>
                اجازه به کاربران برای ارسال ایمیل
              </p>
            </div>
            <!-- /.form-group -->

            <div class="form-group">
              <label class="control-sidebar-subheading">
                در دست تعمیرات
                <input type="checkbox" class="pull-left" checked="">
              </label>

              <p>
                قرار دادن سایت در حالت در دست تعمیرات
              </p>
            </div>
            <!-- /.form-group -->

            <h3 class="control-sidebar-heading">تنظیمات گفتگوها</h3>

            <div class="form-group">
              <label class="control-sidebar-subheading">
                آنلاین بودن من را نشان نده
                <input type="checkbox" class="pull-left" checked="">
              </label>
            </div>
            <!-- /.form-group -->

            <div class="form-group">
              <label class="control-sidebar-subheading">
                اعلان ها
                <input type="checkbox" class="pull-left">
              </label>
            </div>
            <!-- /.form-group -->

            <div class="form-group">
              <label class="control-sidebar-subheading">
                حذف تاریخته گفتگوهای من
                <a href="javascript:void(0)" class="text-red pull-left"><i class="fa fa-trash-o"></i></a>
              </label>
            </div>
            <!-- /.form-group -->
          </form>
        </div>
        <!-- /.tab-pane -->
      </div>
    </aside>
    <!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
        immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
  </div>
  <!-- ./wrapper end  -->


  <!-- modal start -->
  <div class="modal modal-danger fade" id="modal-danger">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">پاک کردن </h4>
        </div>
        <div class="modal-body">
          <p>ایا مطمئن هستید ؟</p>
        </div>
        <div class="modal-footer">
          <a id="pid" class="text-white">
            <button type="button" class="btn btn-outline">

              بله

            </button>
          </a>
          <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">خیر</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
   <!-- modal end -->

   
  {% include 'adminlte/footerrefrences.html' %}
</body>

</html>