{% extends 'base/_MainLayout.html' %}
{% load static %}

{% block title %}درباره ما {% endblock title %}


{% block content %}

    <!--=====================
    Breadcrumb Aera Start
    =========================-->
    <div class="breadcrumbs_area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <ul>
                            <li>
                                <h1><a href="index.html">صفحه اصلی</a></h1>
                            </li>
                            <li>درباره ما</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--=====================
    Breadcrumb Aera End
    =========================-->

    <!-- ================
    About Area Start
    =====================-->
    <div class="about-area mt-45 mb-35">
        <div class="container">
            <div class="row">
                <div class="offset-lg-2 col-lg-8 text-center">
                    <div class="about-head">
                        <h3 class="mb-20">خوش آمدید به فروشگاه ما</h3>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است ، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود
                            ابزارهای کاربردی می باشد</p>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-lg-6 mt-40 text-center">
                    <div class="about-img">
                        <img src="{% static 'images/about/about-1.jpg' %}" alt="" class="img-fluid">
                    </div>
                </div>
                <div class="col-lg-6 mt-20 text-center">
                    <div class="about-content">
                        <h3 class="last-title mb-20">لورم ایپسوم چیست؟</h3>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است ، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود
                            ابزارهای کاربردی می باشد</p>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-lg-6 mt-40 order-lg-2 text-center">
                    <div class="about-img">
                        <img src="{% static 'images/about/about-2.jpg' %}" alt="" class="img-fluid">
                    </div>
                </div>
                <div class="col-lg-6 mt-20 text-center order-lg-1">
                    <div class="about-content">
                        <h3 class="last-title mb-20">لورم ایپسوم چیست؟</h3>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است ، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود
                            ابزارهای کاربردی می باشد</p>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-lg-6 mt-40 text-center">
                    <div class="about-img">
                        <img src="{% static 'images/about/about-3.jpg' %}" alt="" class="img-fluid">
                    </div>
                </div>
                <div class="col-lg-6 mt-20 text-center">
                    <div class="about-content">
                        <h3 class="last-title mb-20">لورم ایپسوم چیست؟</h3>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است ، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود
                            ابزارهای کاربردی می باشد</p>
                    </div>
                </div>
            </div>
            <div class="row mt-45">
                <!-- Testimonial Area Start -->
                <div class="offset-lg-2 col-lg-8">
                    <div class="block-title">
                        <h6>دیگران در مورد ما چه می گویند؟</h6>
                    </div>
                    <div class="testimonial-carousel slick-custom pt-20 nav-top">
                        <div class="single_testimonial text-center">
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است ، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                            <img src="{% static 'images/testimonial/testimonial-1.png' %}" alt="" class="img-fluid">
                            <span class="name">محمد اسدی</span>
                            <span class="job_title">سئـو و مارکتینگ</span>
                            <div class="rating">
                                <span class="yellow"><i class="fa fa-star"></i></span>
                                <span class="yellow"><i class="fa fa-star"></i></span>
                                <span class="yellow"><i class="fa fa-star"></i></span>
                                <span class="yellow"><i class="fa fa-star"></i></span>
                                <span class="yellow"><i class="fa fa-star"></i></span>
                            </div>
                        </div>
                        <div class="single_testimonial text-center">
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است ، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                            <img src="{% static 'images/testimonial/testimonial-2.jpg' %}" alt="" class="img-fluid">
                            <span class="name">سیما تیر انداز</span>
                            <span class="job_title">برنامه نویس</span>
                            <div class="rating">
                                <span class="yellow"><i class="fa fa-star"></i></span>
                                <span class="yellow"><i class="fa fa-star"></i></span>
                                <span class="yellow"><i class="fa fa-star"></i></span>
                                <span class="yellow"><i class="fa fa-star"></i></span>
                                <span class="yellow"><i class="fa fa-star"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Testimonial Area End -->
            </div>
            <div class="row mt-40 pb-15">
                <div class="col-lg-12 text-center">
                    <!-- Brand Logo Area Start -->
                    <div class="brand-logo">
                        <div class="single-brand">
                            <a href="#">
                                <img src="{% static 'images/brand/3.jpg' %}" alt="" class="img-fluid">
                            </a>
                        </div>
                        <div class="single-brand">
                            <a href="#">
                                <img src="{% static 'images/brand/2.jpg' %}" alt="" class="img-fluid">
                            </a>
                        </div>
                        <div class="single-brand">
                            <a href="#">
                                <img src="{% static 'images/brand/1.jpg' %}" alt="" class="img-fluid">
                            </a>
                        </div>
                        <div class="single-brand">
                            <a href="#">
                                <img src="{% static 'images/brand/4.jpg' %}" alt="" class="img-fluid">
                            </a>
                        </div>
                        <div class="single-brand">
                            <a href="#">
                                <img src="{% static 'images/brand/5.jpg' %}" alt="" class="img-fluid">
                            </a>
                        </div>
                        <div class="single-brand">
                            <a href="#">
                                <img src="{% static 'images/brand/6.jpg' %}" alt="" class="img-fluid">
                            </a>
                        </div>
                        <div class="single-brand">
                            <a href="#">
                                <img src="{% static 'images/brand/1.jpg' %}" alt="" class="img-fluid">
                            </a>
                        </div>
                        <div class="single-brand">
                            <a href="#">
                                <img src="{% static 'images/brand/3.jpg' %}" alt="" class="img-fluid">
                            </a>
                        </div>
                        <div class="single-brand">
                            <a href="#">
                                <img src="{% static 'images/brand/4.jpg' %}" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ================
    About Area Start
    =====================-->


{% endblock content %}




